@model IEnumerable<CartCrateViewModel>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <!--TODO: Add description button?-->
                <a class="btn btn-secondary" asp-action="Description">Description</a> 
                <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.CrateId">Remove</a>               
            </td>
        </tr>
}
    </tbody>
</table>
